.footer{
    background-color: rgb(229, 162, 255);
    height: 100px;
    margin-top: 20px;
    }
   .container1{
     text-align: center;
     font-size: 9px;
     color: white;
     line-height: 100px;
     
   }